<h2>Craigslist Postings</h2>
<div class='ui two cards'>
  <a class='ui card' href='/unprocessed'>
    <div class='content' style='text-align: center'>
      <div class='header'>View un-processed leads</div>
      <i class='huge archive icon'></i>
    </div>
  </a>
  <a class='ui card' href='/unemailed'>
    <div class='content' style='text-align: center'>
      <div class='header'>View un-emailed leads</div>
      <i class='huge mail outline icon'></i>
    </div>
  </a>
</div>
