<h1><% # spacer (yeah, I know, fuck off) %></h1>
<form method='POST' class='large ui grid form'>
  <div class='inline field row'>
    <div class='six wide column'></div>
    <input placeholder='Username' name='user' class='four wide column' />
  </div>
  <div class='inline field row'>
    <div class='six wide column'></div>
    <input placeholder='Password' type='password' name='password' class='four wide column' />
  </div>
  <div class='row'>
    <div class='six wide column'></div>
    <div class='four wide column'>
      <button type='submit' class='huge ui button'>Login</button>
    </div>
  </div>
</form>
